flows (2) 1.json
[
    {
        "id": "83b7ec532906a106",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51e3d8c3134392ab",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b3071e52c95ff3e5",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "785856076cb87be4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a18bb8f26305963f",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "11d77b9563d51b62",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a18bb8f26305963f",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "116cc78d05d3d8ca",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "cp2_iot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "0dcf440d856159a9",
        "type": "mqtt in",
        "z": "83b7ec532906a106",
        "name": "",
        "topic": "fiap/anthony/sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "51e3d8c3134392ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "71e3442d4e3361b0"
            ]
        ]
    },
    {
        "id": "71e3442d4e3361b0",
        "type": "json",
        "z": "83b7ec532906a106",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "f141197ddb0cba6f",
                "115e86c8cf48bb3e",
                "909512772ab99f94"
            ]
        ]
    },
    {
        "id": "f141197ddb0cba6f",
        "type": "debug",
        "z": "83b7ec532906a106",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "58d54b7593b316cf",
        "type": "ui_gauge",
        "z": "83b7ec532906a106",
        "name": "",
        "group": "11d77b9563d51b62",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "5094c64580f3bc56",
        "type": "ui_chart",
        "z": "83b7ec532906a106",
        "name": "",
        "group": "11d77b9563d51b62",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "115e86c8cf48bb3e",
        "type": "change",
        "z": "83b7ec532906a106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "58d54b7593b316cf",
                "5094c64580f3bc56"
            ]
        ]
    },
    {
        "id": "b5aa7020b398cdd3",
        "type": "inject",
        "z": "83b7ec532906a106",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "a3dafef1bd4cfa8a"
            ]
        ]
    },
    {
        "id": "a3dafef1bd4cfa8a",
        "type": "http request",
        "z": "83b7ec532906a106",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Sao+Paulo&appid=390a9b4f79464a6352f7706060e1d2f8&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "5599bd2540e04a19"
            ]
        ]
    },
    {
        "id": "5599bd2540e04a19",
        "type": "change",
        "z": "83b7ec532906a106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "19eb4b364695022c"
            ]
        ]
    },
    {
        "id": "19eb4b364695022c",
        "type": "ui_gauge",
        "z": "83b7ec532906a106",
        "name": "",
        "group": "11d77b9563d51b62",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Externa (API)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "5d399e9b1ff867a0",
        "type": "mysql",
        "z": "83b7ec532906a106",
        "mydb": "116cc78d05d3d8ca",
        "name": "",
        "x": 820,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "909512772ab99f94",
        "type": "function",
        "z": "83b7ec532906a106",
        "name": "function 1",
        "func": "// Garantir que o payload existe e tem as propriedades\nif (msg.payload) {\n    var temp = msg.payload.temp || 0;\n    var umid = msg.payload.umid || 0;\n    var luz = msg.payload.luz || 0;\n\n    // Monta a query garantindo que os valores são números\n    msg.topic = \"INSERT INTO leituras (sensor_nome, valor) VALUES \" +\n                \"('temperatura', \" + temp + \"), \" +\n                \"('umidade', \" + umid + \"), \" +\n                \"('luminosidade', \" + luz + \");\";\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 140,
        "wires": [
            [
                "5d399e9b1ff867a0"
            ]
        ]
    },
    {
        "id": "621b5e4a39c75e18",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-mysql": "3.0.0"
        }
    }
]